<mat-nav-list>
    <!-- <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>
-->
<!--     <mat-divider></mat-divider>  -->

<!--     <h2 matSubheader>Pages</h2> -->
 
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
        <mat-icon>library_books</mat-icon>
        Getting Started
    </a>
    
    <mat-divider></mat-divider>
    <h2 matSubheader style="font-size: 18px;">Components</h2>
    <a mat-list-item routerLinkActive="list-item-active"  class="menuColor" [routerLinkActiveOptions]="{exact: true}" routerLink="/table">
        <mat-icon>table_view</mat-icon>
        Table
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor" routerLink="/contacts">
        <mat-icon>radio_button_checked</mat-icon>
        Button
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor" routerLink="/contacts">
        <mat-icon>search</mat-icon>
        Search
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor" routerLink="/contacts">
        <mat-icon>today</mat-icon>
        Datepicker
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor"  routerLink="/contacts">
        <mat-icon>fact_check</mat-icon>
        Select
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor"  routerLink="/contacts">
        <mat-icon>sync</mat-icon>
        Screen Loader
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor" routerLink="/contacts">
      <mat-icon>last_page</mat-icon>
        Pagination
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor"  routerLink="/contacts">
        <mat-icon>call_to_action</mat-icon>
        Model Screen
    </a>
    <a mat-list-item routerLinkActive="list-item-active"class="menuColor"  routerLink="/contacts">
        <mat-icon>text_fields</mat-icon>
        Text Field
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor"  routerLink="/contacts">
        <mat-icon>label</mat-icon>
        Label Field
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor" routerLink="/contacts">
        <mat-icon>Menu</mat-icon>
        Menus and Sub Menus
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="menuColor" routerLink="/contacts">
        <mat-icon>pin</mat-icon>
        Number Field
    </a>
    
</mat-nav-list>