<mat-toolbar color="primary">
   <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <a routerLink='/'> <img src="assets/images/finzlyLogo.png" style="padding-top: 6px;width: 145px;" /></a>
        <span class="spacer"></span>
        <span class="app-title">Finzly Component Library</span>
     
        <span class="spacer"></span>
            <ul>
                <li>
                    <button mat-icon-button  matTooltip="Open Style Sheet" routerLinkActive="list-item-active"  [routerLinkActiveOptions]="{exact: true}" routerLink="/css">
                        <mat-icon>code</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button  matTooltip="FAQ's">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" matTooltip="Profile">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
    </mat-toolbar-row> 
</mat-toolbar>